html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Georgia;
}
a {
    margin:1%;
    padding:1%;
    display: block;
    color: #878383;
    transition: color 0.5s ease-out;
}
a:hover {
    color: #ffffff;
}

button {
    border-color:black;
    border-radius :15px;
    background-color: white;
    color:black;
    font-weight: bold;
    cursor: pointer;
    font-size: 15px;
    margin: 2%;
}

.centerDefault {
    display: block;
    text-align:center;
}
.centerDefault label {
    display: block;
    clear: left;
    width: 100%;
    text-align: right;
    position:relative;
    left:-20%;
    padding-top: 0.5%;
    padding-bottom:0.5%;
}

.Classeur{

}

.Classeur div {
    margin-top: 10px;
    margin-bottom: 10px;

}

.Classeur div div {
    border-style:solid;
    border-radius: 15px;
    border-color: black;
}

.Classeur div div form {
    display: inline-block;
}

.ListeClasseur div {
    margin-top: 10px;
    margin-bottom: 10px;
    border-style:solid;
    border-radius: 15px;
    border-color: black;
}


.ListeClasseur div form {
    display: inline;
}

.section {
    padding:  1%;
    border-style: solid;
    background-color: white;
    border-color: black;
    border-radius: 15px;
    border-color: #878383;
}

.section a:hover{
    color: black;
    cursor: pointer;
}

.titre {
    text-align:center;
    font-size:25px;
    font-weight:bold;
    padding-left: 5%;
    padding-right: 5%;
    cursor:default;
}

.logo {
    text-decoration: none;
    cursor:pointer;
}




