html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Georgia;
}
a {
    margin:1%;
    padding:1%;
    display: block;
    color: #5A5A66;
    transition: color 0.5s ease-out;
}
a:hover {
    color: #2A2B2E;
    cursor: default;
}

button {
    border-color: #5A5A66;
    border-radius: 15px;
    background-color: #76B4BE;
    color: #5A5A66;
    font-weight: bold;
    cursor: pointer;
    font-size: 15px;
    margin: 2%;
    transition: color 1s ease;
    transition: background-color 1s ease;
}
button:hover {
    color: #2A2B2E;
    background-color: #BF4342;
}

.centerDefault {
    display: block;
    text-align:center;
}
.centerDefault label {
    display: block;
    text-align:left;
    min-width:25%;
    width:25%;
    margin: 0 auto;
    padding-top: 0.5%;
    padding-bottom:0.5%;
}

.centerDefault input {
    display:block;
}

.Classeur div {
    margin-top: 10px;
    margin-bottom: 10px;

}

.Classeur div div {
    border-style:solid;
    border-radius: 15px;
    border-color: #8C1C13;
}

.classeur div div input {
    position:relative;
    left: 20%;
}

.Classeur div div form {
    display: inline-block;
}

.ListeClasseur div {
    margin-top: 10px;
    margin-bottom: 10px;
    border-style:solid;
    border-radius: 15px;
    border-color: #8C1C13;
}


.ListeClasseur div form {
    display: inline;
}

.section {
    padding:  1%;
    border-style: solid;
    background-color: white;
    border-color: #8C1C13;
    border-radius: 15px;
}

.section a:hover{
    color: #2A2B2E;
    cursor: pointer;
}

.titre {
    text-align:center;
    font-size:25px;
    font-weight:bold;
    padding-left: 5%;
    padding-right: 5%;
    cursor:default;
    margin:1%;
    padding:1%;
    display: block;
    color: #BF4342;
    transition: color 0.5s ease-out;
}
.titre:hover {
    color: #8C1C13;
}

.logo img {
    width: 248px;
    height: 248px;
    cursor: pointer;
}



